name: 更新业绩预告_em

# 触发条件
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: true
        description: "GitHub Access Token"
  workflow_dispatch:

jobs:
  yjyg_em:
    runs-on: ubuntu-latest
    steps:
      - name: 迁出代码
        uses: eshion/clone-github-repo-action@main
        with:
          owner: "eshion"
          repository: "stock"
          access-token: ${{ secrets.ACCESS_TOKEN }}
      - name: 安装Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
        env:
          ACCESS_TOKEN: "${{ secrets.ACCESS_TOKEN }}"
      - name: 设置时区
        run: sudo timedatectl set-timezone 'Asia/Shanghai'
      - name: 安装依赖
        run: |
          cd stock
          pip install -r requirements.txt
      - name: 执行任务
        run: |
          cd stock
          python tools/get_yjyg_em.py
      - name: 移到缓存
        run: |
          rm -rf ~/stock
          mkdir -p ~/stock
          cp stock/cache/yjyg_em.db ~/stock
          ls -al ~/stock
      - name: 保存缓存
        uses: actions/cache/save@v3
        with:
          path: ~/stock
          key: stock-yjyg_em-${{ github.run_id }}
          restore-keys: stock-yjyg_em-
