name: 更新业绩报表tpl_em

# 触发条件
on:
  workflow_call:
    inputs:
      index:
        type: string
        description: "起始环境变量0-17"
        required: false
    secrets:
      ACCESS_TOKEN:
        required: true
        description: "GitHub Access Token"
  workflow_dispatch:

jobs:
  yjbb_em:
    runs-on: ubuntu-latest
    steps:
      - name: 迁出代码
        uses: eshion/clone-github-repo-action@main
        with:
          owner: "eshion"
          repository: "stock"
          access-token: ${{ secrets.ACCESS_TOKEN }}
      - name: 保存缓存
        uses: actions/cache/save@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em-${{ github.run_id }}
      - name: 加载缓存0
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em0-${{ github.run_id }}
          restore-keys: stock-yjbb_em0-
      - name: 加载缓存1
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em1-${{ github.run_id }}
          restore-keys: stock-yjbb_em1-
      - name: 加载缓存2
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em2-${{ github.run_id }}
          restore-keys: stock-yjbb_em2-
      - name: 加载缓存3
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em3-${{ github.run_id }}
          restore-keys: stock-yjbb_em3-
      - name: 加载缓存4
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em4-${{ github.run_id }}
          restore-keys: stock-yjbb_em4-
      - name: 加载缓存5
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em5-${{ github.run_id }}
          restore-keys: stock-yjbb_em5-
      - name: 加载缓存6
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em6-${{ github.run_id }}
          restore-keys: stock-yjbb_em6-
      - name: 加载缓存7
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em7-${{ github.run_id }}
          restore-keys: stock-yjbb_em7-
      - name: 加载缓存8
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em8-${{ github.run_id }}
          restore-keys: stock-yjbb_em8-
      - name: 加载缓存9
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em9-${{ github.run_id }}
          restore-keys: stock-yjbb_em9-
      - name: 加载缓存10
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em10-${{ github.run_id }}
          restore-keys: stock-yjbb_em10-
      - name: 加载缓存11
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em11-${{ github.run_id }}
          restore-keys: stock-yjbb_em11-
      - name: 加载缓存12
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em12-${{ github.run_id }}
          restore-keys: stock-yjbb_em12-
      - name: 加载缓存13
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em13-${{ github.run_id }}
          restore-keys: stock-yjbb_em13-
      - name: 加载缓存14
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em14-${{ github.run_id }}
          restore-keys: stock-yjbb_em14-
      - name: 加载缓存15
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em15-${{ github.run_id }}
          restore-keys: stock-yjbb_em15-
      - name: 加载缓存16
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em16-${{ github.run_id }}
          restore-keys: stock-yjbb_em16-
      - name: 加载缓存17
        uses: actions/cache/restore@v3
        if: ${{ inputs.index == '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em17-${{ github.run_id }}
          restore-keys: stock-yjbb_em17-
      - name: 保存缓存${{ inputs.index }}
        uses: actions/cache/save@v3
        if: ${{ inputs.index != '' }}
        with:
          path: ~/stock
          key: stock-yjbb_em${{ inputs.index }}-${{ github.run_id }}
      - name: 安装Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
        env:
          ACCESS_TOKEN: "${{ secrets.ACCESS_TOKEN }}"
      - name: 设置时区
        run: sudo timedatectl set-timezone 'Asia/Shanghai'
      - name: 安装依赖
        run: |
          cd stock
          pip install -r requirements.txt
      - name: 执行任务
        env:
          INDEX: ${{ inputs.index }}
        run: |
          cd stock
          ls -al ~/stock/
          cp -rf ~/stock/yjbb_em* data/
          touch data/yjbb_em${{ inputs.index }}.db
          python tools/get_yjbb_em.py
      - name: 移到缓存
        run: |
          rm -rf ~/stock
          mkdir -p ~/stock
          cp stock/data/yjbb_em${{ inputs.index }}.db ~/stock
          ls -al ~/stock
